# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# External repositories
simple-icons/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Local config
.cybex_pulse/

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db